.feedback {
  margin-bottom: 20px;
}

.feedback-box {
  padding: 0 40px 80px;

  form {
    max-width: 630px;
  }

  fieldset {
    padding: 0;
    border: none;
    margin-bottom: 30px;
  }

  textarea {
    width: 100%;
    resize: none;
    min-height: 228px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 9px 15px;

    &::placeholder {
      font-family: $font-family--lato;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  legend {
    font-family: $font-family--lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color-text;
    margin-bottom: 8px;
  }
}

.add-file {
  font-family: $font-family--lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;

  span {
    font-family: $font-family--lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #114793;
  }

  svg {
    margin-right: 6px;
  }
}

.submit-btn {
  display: block;
  max-width: 270px;
  min-height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #01499B 0%, #114793 48.96%, #01499B 100%);
  color: $color-text--rev;
  font-family: $font-family--lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
