@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "exo2";

  font-display: swap;
  src: url("../fonts/Exo2.0-ExtraLight.woff2") format("woff2"), url("../fonts/Exo2.0-ExtraLight.woff") format("woff"), url("../fonts/Exo2.0-ExtraLight.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "exo2";

  font-display: swap;
  src: url("../fonts/Exo2.0-Light.woff2") format("woff2"), url("../fonts/Exo2.0-Light.woff") format("woff"), url("../fonts/Exo2.0-Light.otf") format("otf");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "exo2";

  font-display: swap;
  src: url("../fonts/Exo2.0-Regular.woff2") format("woff2"), url("../fonts/Exo2.0-Regular.woff") format("woff"), url("../fonts/Exo2.0-Regular.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "exo2";

  font-display: swap;
  src: url("../fonts/Exo2.0-Medium.woff2") format("woff2"), url("../fonts/Exo2.0-Medium.woff") format("woff"), url("../fonts/Exo2.0-Medium.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "exo2";

  font-display: swap;
  src: url("../fonts/Exo2.0-SemiBold.woff2") format("woff2"), url("../fonts/Exo2.0-SemiBold.woff") format("woff"), url("../fonts/Exo2.0-SemiBold.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "exo2";

  font-display: swap;
  src: url("../fonts/Exo2.0-Bold.woff2") format("woff2"), url("../fonts/Exo2.0-Bold.woff") format("woff"), url("../fonts/Exo2.0-Bold.otf") format("otf");
}


@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "exo2";

  font-display: swap;
  src: url("../fonts/Exo2.0-ExtraBold.woff2") format("woff2"), url("../fonts/Exo2.0-ExtraBold.woff") format("woff"), url("../fonts/Exo2.0-ExtraBold.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "exo2";

  font-display: swap;
  src: url("../fonts/Exo2.0-Black.woff2") format("woff2"), url("../fonts/Exo2.0-Black.woff") format("woff"), url("../fonts/Exo2.0-Black.otf") format("otf");
}


@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Century-Gothic";

  font-display: swap;
  src: url("../fonts/Century-Gothic.woff2") format("woff2"), url("../fonts/Century-Gothic.woff") format("woff"), url("../fonts/Century-Gothic.otf") format("otf");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Century-Gothic";

  font-display: swap;
  src: url("../fonts/Century-Gothic-Regular.woff2") format("woff2"), url("../fonts/Century-Gothic-Regular.woff") format("woff"), url("../fonts/Century-Gothic-Regular.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.otf") format("otf");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
}



@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.otf") format("otf");
}


@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
