/* -- Fonts --*/
$font-family: "exo2", sans-serif;
$font-family--alt: "Century-Gothic", sans-serif;
$font-family--lato: "Lato", sans-serif;
$font-family--privacy: "Roboto", sans-serif;
/* -- Colors --*/
/* -- Headers --*/
$color-header: #111111;
$color-header--alt: #222222;
$color-header--rev: #ffffff;

/* -- Text --*/
$color-text: #000000;
$color-text--rev: #ffffff;
$color-text--blue:  #01499b;
$color-text--down:  #231f20;
$color-text--type:  #27aae1;
$color-text--world:  #f5483a;

/* -- Menu --*/
$color-menu: #111111;
$color-menu--hover: rgba(17, 17, 17, 0.6);
$color-menu--active: rgba(17, 17, 17, 0.3);
$color-menu-alt: #ffffff;
$color-menu-alt--hover: rgba(255, 255, 255, 0.6);
$color-menu-alt--active: rgba(255, 255, 255, 0.3);

/* -- Backgrounds --*/
$bg--linear: linear-gradient(90deg, #b4404d 0%, #19488e 100%);
$bg--main: #ffffff;
$bg--footer: #344050;
$bg--hover-item: #024a9b;

/* -- Buttons --*/
$color-btn:#ffffff;
$color-btn-text: #231f20;

/* -- Buttons-hover-text --*/

$hover-btn-text: #01499b;

/* -- Buttons-hover-bg --*/

$bg-btn:#ffffff;


// /* -- Form --*/
// $color-label: #222222;
// $color-placeholder: #444444;

/* -- Borders --*/
$color-border: #d9d9d9;
$play-border: #01499b;
$white-border: #ffffff;
$calendar-border: #27aae1;
$world-border: #f5483a;

